.site-footer {
    background-color: #62cef5;
    padding: 45px 0 20px;
    font-size: 15px;
    line-height: 24px;
    color: #000000;
}

body {
    padding-bottom: 200px;
    height: 100%;
}

.site-footer hr {
    border-top-color: #bbb;
    opacity: 0.5
}

.site-footer hr.small {
    margin: 20px 0
}

.site-footer h5 {
    color: #fff;
    font-size: 20px;
    text-transform: uppercase;
    margin-top: 5px;
    letter-spacing: 2px
}

.site-footer a {
    color: #000000;
}

.site-footer a:hover {
    color: #000000;
    text-decoration: none;
}

.footer-links {
    padding-left: 0;
    list-style: none
}

.footer-links li {
    display: block
}

.footer-links a {
    color: #000000
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
    color: #3366cc;
    text-decoration: none;
}

.footer-links.inline li {
    display: inline-block
}
