<footer class="site-footer position=sticky" >
  {{!-- fixed-bottom --}}
      <div class="container">
        <div class="row">
          <div class="col-sm-12 col-md-6">
            <h5>Thông tin</h5>
            <p class="text-justify">Đồ án tốt nghiệp <br>Đề tài: <i>Xây dựng thiết bị đo lường và điều khiển trong hệ thống nhà thông minh </i> <br>Nguyễn Quang Duy</p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h5 >Đơn vị công tác</h5>
            <p class="text-justify">K63R <br> Khoa: Điện tử viễn thông <br> Trường Đại học Công nghệ <br> Đại học Quốc gia Hà Nội </p>
          </div>

          <div class="col-xs-6 col-md-3">
            <h5>Contact me</h5>
            <ul class="footer-links">
              <li><a href="https://www.facebook.com/duyduyttt">Duy</a></li>
            </ul>
          </div>
        </div>
      </div>
</footer>